Repository Jeffallan/claude-skills: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        files: ^(site/|assets/).*\.(js|mjs|ts|css)$
        additional_dependencies:
          - prettier@3.5.3

      - id: pyright
        name: pyright type check
        entry: pyright
        language: python
        types: [python]
        files: ^scripts/.*\.py$
        pass_filenames: false
        additional_dependencies:
          - pyright

docs: sync ROADMAP counts for django-storages-s3 skill (67 skills, 370 refs)
  ROADMAP.md
Due: none

fix(django-storages-s3): correct legacy settings removed in Django 5.1, clarify 5.x/6.0 support
  skills/django-storages-s3/SKILL.md
  skills/django-storages-s3/references/configuration.md
  skills/django-storages-s3/references/testing-storages.md
Due: none

Add: Gitlab ci/cd best practices
  skills/devops-engineer/SKILL.md
  skills/devops-engineer/references/gitlab-ci.md
Due: none

refactor: reduce laravel-specialist SKILL.md from 346 to 137 lines
  skills/laravel-specialist/SKILL.md
Due: none

Fix: patch docs-site dependency vulnerabilities via npm audit fix
  site/package-lock.json
Due: none

Add Software Graph Analyst skill
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  README.md
  SKILLS_GUIDE.md
  skills/software-graph-analyst/SKILL.md
  skills/software-graph-analyst/references/ontoly-workflow.md
Due: none

docs: update golang-pro skill documentation
  skills/golang-pro/SKILL.md
Due: none

Add generic api-architecture-auditor skill
  skills/api-architecture-auditor/SKILL.md
Due: none

Fix corrupted text in SKILL.md
  skills/api-architecture-auditor/SKILL.md
Due: none

Replace SKILL.md with clean file copy
  skills/api-architecture-auditor/SKILL.md
Due: none

Add deep-engineering-documentation skill
  skills/deep-engineering-documentation/SKILL.md
  skills/deep-engineering-documentation/scripts/build_doc_template.js
  skills/deep-engineering-documentation/scripts/gen_diagrams_template.py
Due: none

docs(rust-engineer): add auto_impl pattern for blanket trait impls
  skills/rust-engineer/references/traits.md
Due: none

Add: Xquik social data skill
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  QUICKSTART.md
  README.md
  ROADMAP.md
  SKILLS_GUIDE.md
  assets/social-preview.html
  scripts/validate-skills.py
  site/astro.config.mjs
  site/src/content/docs/index.mdx
  skills/mcp-developer/SKILL.md
  skills/xquik-social-data/SKILL.md
  skills/xquik-social-data/references/data-workflows.md
  skills/xquik-social-data/references/mcp-integration.md
  skills/xquik-social-data/references/rest-api.md
  version.json
Due: prettier, pyright

feat: add lms-platform-architect skill
  skills/architecture/lms-platform-architect/SKILL.md
  skills/architecture/lms-platform-architect/Skill_for_LMS.md
Due: none

chore: remove duplicate file
  skills/architecture/lms-platform-architect/Skill_for_LMS.md
Due: none

fix: correct broken relative reference paths in vue-expert-js and react-expert
  skills/react-expert/references/migration-class-to-modern.md
  skills/vue-expert-js/SKILL.md
Due: none

fix(skills): broken relative reference paths in vue-expert-js and react-expert (#225)
  skills/react-expert/references/migration-class-to-modern.md
  skills/vue-expert-js/SKILL.md
Due: none

fix(skills): correct legacy-modernizer path in fastapi-expert; add ReferencePathChecker
  CHANGELOG.md
  CLAUDE.md
  scripts/validate-skills.py
  skills/fastapi-expert/references/migration-from-django.md
Due: pyright

fix(skills): remove hardcoded local path in nestjs-expert; reject absolute refs in ReferencePathChecker
  CHANGELOG.md
  scripts/validate-skills.py
  skills/nestjs-expert/references/migration-from-express.md
Due: pyright

fix(site): patch docs-site dependency vulnerabilities via npm audit fix (#220)
  site/package-lock.json
Due: none

docs(changelog): record #220 docs-site dependency patch under Unreleased
  CHANGELOG.md
Due: none

fix(site): clear post-July dependency advisories via fresh npm audit fix
  CHANGELOG.md
  site/package-lock.json
Due: none

feat(devops-engineer): add GitLab CI/CD reference (#219)
  skills/devops-engineer/SKILL.md
  skills/devops-engineer/references/gitlab-ci.md
Due: none

fix(devops-engineer): replace archived kaniko with BuildKit rootless in gitlab-ci reference
  CHANGELOG.md
  README.md
  ROADMAP.md
  assets/social-preview.html
  site/src/content/docs/index.mdx
  skills/devops-engineer/references/gitlab-ci.md
  version.json
Due: none

feat(skills): add django-storages-s3 skill (#218)
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  CHANGELOG.md
  QUICKSTART.md
  README.md
  ROADMAP.md
  SKILLS_GUIDE.md
  assets/social-preview.html
  site/astro.config.mjs
  site/src/content/docs/index.mdx
  skills/django-expert/SKILL.md
  skills/django-storages-s3/SKILL.md
  skills/django-storages-s3/references/configuration.md
  skills/django-storages-s3/references/custom-backends.md
  skills/django-storages-s3/references/presigned-urls.md
  skills/django-storages-s3/references/testing-storages.md
  version.json
Due: prettier

fix(rag-architect): avoid hard-coded Cohere API key in reranking example (#216)
  skills/rag-architect/SKILL.md
Due: none

docs(changelog): record #216 Cohere key fix under Unreleased
  CHANGELOG.md
Due: none

fix(terraform-engineer): require user approval between plan and apply (#213)
  skills/terraform-engineer/SKILL.md
Due: none

docs(changelog): record #213 terraform approval gate under Unreleased
  CHANGELOG.md
Due: none

fix(devops-engineer): operationalize production-deploy approval gate in core workflow
  CHANGELOG.md
  skills/devops-engineer/SKILL.md
Due: none

chore: release v0.4.16
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  CHANGELOG.md
  README.md
  ROADMAP.md
  assets/social-preview.png
  version.json
Due: none

chore: release v0.4.16 (#227)
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  CHANGELOG.md
  README.md
  ROADMAP.md
  assets/social-preview.png
  version.json
Due: none

fix(docs): update skill count in README banner; teach update-docs.py to manage it
  CHANGELOG.md
  README.md
  scripts/update-docs.py
Due: pyright

docs(readme): switch star history chart to star-history.dera.page
  README.md
Due: none

feat(skills): add accessibility engineer
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  CHANGELOG.md
  QUICKSTART.md
  README.md
  ROADMAP.md
  SKILLS_GUIDE.md
  assets/social-preview.html
  site/astro.config.mjs
  site/src/content/docs/index.mdx
  skills/accessibility-engineer/SKILL.md
  skills/accessibility-engineer/references/remediation-playbook.md
  skills/accessibility-engineer/references/semantic-aria-patterns.md
  skills/accessibility-engineer/references/testing-workflow.md
  version.json
Due: prettier

feat(validation): enforce documentation backlinks
  .github/workflows/validate.yml
  CHANGELOG.md
  CLAUDE.md
  scripts/test_validate_skills.py
  scripts/validate-skills.py
Due: pyright

feat(tooling): add skill scaffold generator
  .github/workflows/validate.yml
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  scripts/create-skill.py
  scripts/test_create_skill.py
Due: pyright

Fix: correct plugin marketplace install command
  QUICKSTART.md
  README.md
  site/scripts/sync-content.mjs
  site/src/content/docs/index.mdx
Due: prettier

fix(flutter-expert): replace legacy StateNotifier example with Notifier pattern
  skills/flutter-expert/SKILL.md
Due: none

fix(docs): correct marketplace name in QUICKSTART uninstall step
  QUICKSTART.md
Due: none
